@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 20px;
}

body{
    background: linear-gradient(90deg,#51db9f 0%,#145bad 100%);
}